body{
  background: #fff;
  padding: 30px;
  margin: 0px;
  color: #424242;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.centered-content {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -30%;
  transform: translate(-50%, -50%);
}

.has-max-width{
  max-width: 1440px;
}

.home-page-link{
  color: #424242;
  text-decoration: underline;
  transition: all .5s;
}
.home-page-link:hover{
  text-decoration: line-through;
  color: tomato;
}

.left-side-tab{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  .tel-tab {
    display: flex;
    align-items: center;
    vertical-align: center;
    width: 60px;
    height: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #424242;
    color: #fff;
    margin-bottom: 10px;
  }
  .tel-tab:hover {
    width: 180px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .mail-tab {
    display: flex;
    align-items: center;
    vertical-align: center;
    width: 60px;
    height: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #424242;
    color: #fff;
    margin-bottom: 10px;
  }
  .LinkedIn-tab {
    display: flex;
    align-items: center;
    vertical-align: center;
    width: 60px;
    height: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #424242;
    color: #fff;
  }
}
